._*
*.DS_Store
*.md
*.swift
*.h
*.cc
*.c
*.xcscheme
*.hpp
*.a
*.cpp
*.mm
*.m
*.pch
*.modulemap
*.plist
Pods/Realm/LICENSE
Pods/RealmSwift/LICENSE
*.sh
*.xcconfig
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/FirebaseDatabase
Pods/FirebaseCore/Frameworks/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics
Pods/Alamofire/LICENSE
Pods/AlamofireImage/LICENSE
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/FirebaseCore
*.markdown
Pods/SwiftyJSON/LICENSE
*.pbxproj
*.txt
*.lock
Pods/leveldb-library/README
Pods/leveldb-library/port/README
Pods/leveldb-library/LICENSE
Pods/GTMSessionFetcher/LICENSE
Pods/GoogleToolboxForMac/LICENSE
Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/FirebaseInstanceID
Pods/FirebaseCore/Frameworks/FirebaseNanoPB.framework/FirebaseNanoPB
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/FirebaseAuth
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/FirebaseAnalytics
.DS_Store
