<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<integer>6196172</integer>
	<key>displayMode</key>
	<string>mobile</string>
	<key>redirectURI</key>
	<string>https://oauth.vk.com/blank.html</string>
	<key>scope</key>
	<string>274595</string>
	<key>responseType</key>
	<string>token</string>
	<key>versionAPI</key>
	<string>5.68</string>
</dict>
</plist>
